.return-home-button {
  display: inline-block;
  width: 50%;
  background: #e5bd09;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  margin-top: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  transition: background 0.2s;
  max-width: 850px; 
  margin-left:25%;
}
.return-home-button:hover {
  background: #666;
}